language: ruby
cache: bundler
sudo: false
before_install: gem install bundler
rvm:
  - 1.8.7
  - 1.9
  - 2.0
  - 2.1
  - 2.2
  - 2.3.1
addons:
  code_climate:
    repo_token: 05e3e31164d59aa626b730b92eb9b7418326dbf23420a4b87eab2555840b39ef
